::selection {
  background-color: $color-orange;
  color: $color-white;
}
body {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight-normal;
  color: $text-default-color;
}
a {
  color: $text-link-color;
  text-decoration: none;
  background-image: linear-gradient(transparent 78%, $color-orange 10%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  margin-bottom: $spacer;
  color: $text-heading-color;
  display: inline-block;
}
h1 {
  font-size: 2.441rem;
}
h2 {
  font-size: 1.953rem;
}
h3 {
  font-size: 1.563rem;
}
h4 {
  font-size: 1.25rem;
}
header {
  margin-bottom: $spacer;
}
.bg-dark {
  background-color: $color-darkblue;
  color: $text-invert-color;

  a {
    color: $color-orange;
    background-image: none;
  }
}
.underline {
  background-image: linear-gradient(transparent 78%, $color-orange 10%);
}
.fullstop {
  &::after {
    content: ".";
  }
}
.lowercase {
  text-transform: lowercase;
}
@mixin spacer {
  padding: 2rem 0;

  @media (min-width: 768px) {
    padding: 4rem 0;
  }
}
@mixin row {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}
@mixin column {
  padding: 0 $spacer;
}
@mixin left-column() {
  @media (min-width: 768px) {
    @include column();
    flex: 5;
  }
  @media (min-width: 992px) {
    flex: 4;
  }
}
@mixin right-column() {
  @media (min-width: 768px) {
    @include column();
    padding-top: 48px;
    flex: 7;
  }
  @media (min-width: 992px) {
    flex: 8;
  }
}
